<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="./bundle.js" defer></script>
    </head>
    <body>
        <main>
            <form class="login-form">
                <div class="login-form__group">
                    <label for="userName">Nome de usuário:</label>
                    <input type="text" name="userName" id="userName" />
                </div>
                <div class="login-form__group">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password" />
                </div>
                <button class="login-form__submit" type="submit">Logar</button>
            </form>
        </main>
    </body>
</html>
